@charset "UTF-8";

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1024px;
	height: 100%;
}
a {
	text-decoration: none;
}

body ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body table {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
body table thead th {
    border-bottom: 2px solid black;
    margin-bottom: 2px;
}

body tbody tr:nth-child(even) {
    background-color: lightgray;
}
body tbody tr:nth-child(odd) {
    background-color: white;
}
body tbody tr:hover {
    background-color: darkgray;
}
body tbody td {
    padding: 3px 5px;
}
body tbody tr {
    text-align: center;
}
body tbody tr>:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}